h1{
    color: blue;
    font-size: 70px;
    text-align: center;
    text-decoration: underline;
}
h3 {
	 color: blue;
    font-size: 50px;
    text-align: center;
    text-decoration: underline;
}
img{
    height: 200px;
    width: 200px;
}
.block_produit{
    width: 200px;
    display: inline-block;
    border: 2px solid darkgray;
    margin-left: 200px;
    margin-top: 10px;
}
.block_produit2{
    width: 250px;
    display: inline-block;
    border: 2px solid darkgray;
    margin-left: 300px;
    margin-top: 10px;
}
.description{
    font-size: 30px;
    text-align: center;
    color: red;
    border: 1px solid antiquewhite;
    background-color: aliceblue;
}
#conteneur{
    background: blanchedalmond;
    width: 900px;
    margin: auto;
}
label {
    float: right;
    position: absolute;
}